<menu>
    <Services>
        <KeaUnbound VisibleName="Kea Unbound" cssClass="fa-solid fa-link">
            <General order="10" VisibleName="Settings" url="/ui/keaunbound/index"/>
            <KcaConfig order="20" VisibleName="Kea Config Check" url="/ui/keaunbound/kcaconfig"/>
            <Audit order="50" VisibleName="Lease Audit" url="/ui/keaunbound/status"/>
            <LogFile order="100" VisibleName="Log File" url="/ui/diagnostics/log/core/keaunbound"/>
        </KeaUnbound>
    </Services>
</menu>
